# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
image-downloader

# Database
*.db
*.sqlite
*.sqlite3
fetcher.db

# Go workspaces
go.work
go.work.sum

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
